/* STYLES */

$font: sans-serif;
$background: '';
$bg-color: #2A2B2A;

/* COLORS */
$color-white: #fff;
$color-red: #c61130;
$color-green: #6c9b27;
$color-yellow: #f6aa06;
$color-purple: #432737;
$color-blue: #163a49;
$color-turquoise: #232d2e;
$color-dark-grey: #222;
$color-light-grey: #e7e7e7;

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#background {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: url($background) repeat top left;
}

#intro {
    display: table;
    width: 100%;
    /* height: px; */
    margin: 0;
    padding: 125px 0;
    background-color: $bg-color;
    color: #FFF;
    
    #container{
        display: table-cell;
        vertical-align: middle;
            
            #content {
                #title {
                    text-align: center;
                    font-size: 85px;
                    margin: 25px;
                    padding: 0;
                }

                #date {
                    text-align: center;
                    font-size: 35px;
                    font-weight: 300;
                    margin: 25px;
                    padding: 0;
                }

                form {
                    font-family: inherit;
                    margin: 0;
                    padding: 0;
                }
            }
    }
}

.navbar {
    margin: 0;
}

.email-container {
    display: block;
    width: 100%;
    height: 50px;
    height: auto;
    text-align: center;
    max-width: 560px;
    
    margin-top: 75px;
    margin-bottom: 5px;
    padding: 0;
    border: 0;
    text-align: center;
    
    .email-form {
        display: inline-block;
        width: 100%;
        height: 50px;
        text-align: center;
        max-width: 70%;
        background: rgba(11, 11, 11, 0.9);
        margin-right: 0;
        padding: 15px 25px;
        border: 0;
        color: #1D1D1D;
        font-size: 18px;
        font-family: 'Ubuntu';
        font-weight: 400;
        text-align: center;
        vertical-align: top;
        -webkit-appearance:none;
        
        &:valid {
          color: $color-green;
        }

        &:invalid {
          color: $color-red;
        }
        
        &:hover, &:active, &:focus {
            outline: 0px !important;
            -webkit-appearance:none;
        }
    }
    
    .email-confirmed {
        display: inline-block;
        width: auto;
        height: 50px;
        margin: 0;
        margin-top: 0px;
        margin-left: -1px;
        padding-left: 25px;
        padding-right: 25px;
        background: rgba(25, 171, 93, 0.9);
        color: #FFF;
        vertical-align: top;
        border: none;
        
        transition: all 200ms ease-in-out 0s;
        -o-transition: all 200ms ease-in-out 0s;
        -moz-transition: all 200ms ease-in-out 0s;
        -ms-transition: all 200ms ease-in-out 0s;
        
        &:hover {
            background: rgba(55, 201, 123, 0.9);
        }
    }
}

#about {
    width: 100%;
    margin: 0;
    padding: 75px 0;
    background-color: rgba(200, 200, 200, 0.4);
    
    .statistics {
        max-width: 620px;
        margin-left: auto;
        margin-right: auto;
        
        text-align: center;
        
        .snumber {
            font-size: 48px;
            margin: 0;
        }
        
        .sdetail {
            font-size: 24px;
            margin: 0;
        }
    }
}

.CTCTF-about {
    margin: 75px auto 20px auto;
    text-align: center;
    
    .question {
        margin: 25px;
    }
    
    .answer {
        font-size: 18px;
        line-height: 2;
    }
}

.visit-faq {
    text-align: center;
    margin-top: 75px;
}

#footer {
    padding: 75px 0;
    background-color: $bg-color;
    color: #FFF;
    
    .header {
        text-align: center;
        margin-bottom: 0;
    }
    
    .email-container {
        margin-top: 50px;
    }
}





/* FAQ  */
#faq {
    width: 100%;
    margin: 0;
    padding: 75px 0;
    background-color: rgba(200, 200, 200, 0.4);
}

.question-container {
    margin-top: 35px;
    padding: 10px;

    .question {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .answer {
        font-size: 18px;
        line-height: 1.7;
    }
}

.faq-l {
    padding-right: 20px;
}

.faq-r {
    padding-left: 20px;
}